ESP32 DHT Firebase/node-red.json
[
    {
        "id": "e49da5ceadf3bc84",
        "type": "tab",
        "label": "ESP DHT Firebase Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "34cf38d26cadc205",
        "type": "ui_button",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "group": "4350bafe.7c9f64",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 100,
        "wires": [["78a2369023338ab7"]]
    },
    {
        "id": "1727f555a7d63479",
        "type": "ui_button",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "group": "4350bafe.7c9f64",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 140,
        "wires": [["78a2369023338ab7"]]
    },
    {
        "id": "bd48c8cc9a2c7b8e",
        "type": "ui_gauge",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "group": "22dc9fee.af14c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "10",
        "max": "50",
        "colors": ["#ffc7c7", "#ff6666", "#ff0000"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "688768caeec4b820",
        "type": "ui_chart",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "group": "22dc9fee.af14c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "ad3011256f3376ca",
        "type": "ui_chart",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "group": "a7e6f3f0.afc3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hum Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 480,
        "wires": [[]]
    },
    {
        "id": "b0f6036904d83774",
        "type": "ui_gauge",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "group": "a7e6f3f0.afc3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#bdffbd", "#54ff52", "#04ff00"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "760f3b511e09d17a",
        "type": "ui_text",
        "z": "e49da5ceadf3bc84",
        "group": "4350bafe.7c9f64",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "2d11f3f84ea360bb",
        "type": "debug",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "3fe3b24c0f1337ba",
        "type": "firebase-in",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "constraints": {},
        "database": "b090da3b27d08ec6",
        "inputs": 0,
        "listenerType": "child_added",
        "outputType": "auto",
        "passThrough": false,
        "path": "dht_data",
        "pathType": "str",
        "useConstraints": false,
        "x": 400,
        "y": 400,
        "wires": [["28d94969f8fd58f8", "191c09ea9533ec56", "ee076ec1b6640ef5"]]
    },
    {
        "id": "78a2369023338ab7",
        "type": "firebase-out",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "database": "b090da3b27d08ec6",
        "path": "device/active_control",
        "pathType": "str",
        "priority": "1",
        "queryType": "set",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "28d94969f8fd58f8",
        "type": "debug",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "08722f89ee4ab54e",
        "type": "firebase-in",
        "z": "e49da5ceadf3bc84",
        "name": "",
        "constraints": {},
        "database": "b090da3b27d08ec6",
        "inputs": 0,
        "listenerType": "value",
        "outputType": "auto",
        "passThrough": false,
        "path": "device/active_status",
        "pathType": "str",
        "useConstraints": false,
        "x": 370,
        "y": 220,
        "wires": [["937c4f47ecfdf95f"]]
    },
    {
        "id": "937c4f47ecfdf95f",
        "type": "function",
        "z": "e49da5ceadf3bc84",
        "name": "Parse Status",
        "func": "if (msg.payload) {\n    return {payload: \"ON\"}\n} else {\n    return {payload: \"OFF\"}\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [["760f3b511e09d17a", "2d11f3f84ea360bb"]]
    },
    {
        "id": "ee076ec1b6640ef5",
        "type": "function",
        "z": "e49da5ceadf3bc84",
        "name": "Get Temperature",
        "func": "return {payload: msg.payload.temperature}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 340,
        "wires": [["bd48c8cc9a2c7b8e", "688768caeec4b820"]]
    },
    {
        "id": "191c09ea9533ec56",
        "type": "function",
        "z": "e49da5ceadf3bc84",
        "name": "Get Humidity",
        "func": "return {payload: msg.payload.humidity}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 460,
        "wires": [["b0f6036904d83774", "ad3011256f3376ca"]]
    },
    {
        "id": "4350bafe.7c9f64",
        "type": "ui_group",
        "name": "Control",
        "tab": "69cc7bdf.e7e0e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22dc9fee.af14c",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "69cc7bdf.e7e0e4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a7e6f3f0.afc3c",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "69cc7bdf.e7e0e4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b090da3b27d08ec6",
        "type": "firebase-config",
        "name": "ESP32 DHT",
        "authType": "anonymous",
        "claims": {},
        "createUser": false,
        "status": {
            "firestore": false,
            "storage": false
        },
        "useClaims": false
    },
    {
        "id": "69cc7bdf.e7e0e4",
        "type": "ui_tab",
        "name": "DHT Sensor and Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
