ESP32 DHT MQTT/node-red.json
[
    {
        "id": "372c0492641d9dc6",
        "type": "tab",
        "label": "ESP DHT MQTT Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a89de982585ebd57",
        "type": "ui_button",
        "z": "372c0492641d9dc6",
        "name": "",
        "group": "4350bafe.7c9f64",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 80,
        "wires": [["7a34415666a8aeec"]]
    },
    {
        "id": "d376701d2f8702f7",
        "type": "ui_button",
        "z": "372c0492641d9dc6",
        "name": "",
        "group": "4350bafe.7c9f64",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 120,
        "wires": [["7a34415666a8aeec"]]
    },
    {
        "id": "afec01b40761c262",
        "type": "debug",
        "z": "372c0492641d9dc6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "ba4ee9877f7ad886",
        "type": "debug",
        "z": "372c0492641d9dc6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "9aa7c049cf1daabd",
        "type": "ui_gauge",
        "z": "372c0492641d9dc6",
        "name": "",
        "group": "22dc9fee.af14c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "10",
        "max": "50",
        "colors": ["#ffc7c7", "#ff6666", "#ff0000"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "ae18ce9e34c72169",
        "type": "ui_chart",
        "z": "372c0492641d9dc6",
        "name": "",
        "group": "22dc9fee.af14c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "85bd2796a66ab87c",
        "type": "ui_chart",
        "z": "372c0492641d9dc6",
        "name": "",
        "group": "a7e6f3f0.afc3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hum Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 460,
        "wires": [[]]
    },
    {
        "id": "7a257ba945db1b83",
        "type": "ui_gauge",
        "z": "372c0492641d9dc6",
        "name": "",
        "group": "a7e6f3f0.afc3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#bdffbd", "#54ff52", "#04ff00"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "01f0e959dc7eb596",
        "type": "ui_text",
        "z": "372c0492641d9dc6",
        "group": "4350bafe.7c9f64",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "7a34415666a8aeec",
        "type": "mqtt out",
        "z": "372c0492641d9dc6",
        "name": "",
        "topic": "ESP32/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66bbc32d.7aec1c",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "16592c88e75b0287",
        "type": "debug",
        "z": "372c0492641d9dc6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "1e4a4e3275f9083b",
        "type": "mqtt in",
        "z": "372c0492641d9dc6",
        "name": "",
        "topic": "ESP32/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 280,
        "wires": [["ba4ee9877f7ad886", "9aa7c049cf1daabd", "ae18ce9e34c72169"]]
    },
    {
        "id": "d7673b71c0340d47",
        "type": "mqtt in",
        "z": "372c0492641d9dc6",
        "name": "",
        "topic": "ESP32/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [["16592c88e75b0287", "01f0e959dc7eb596"]]
    },
    {
        "id": "7dcae3c35daa1fd7",
        "type": "mqtt in",
        "z": "372c0492641d9dc6",
        "name": "",
        "topic": "ESP32/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 420,
        "wires": [["afec01b40761c262", "7a257ba945db1b83", "85bd2796a66ab87c"]]
    },
    {
        "id": "4350bafe.7c9f64",
        "type": "ui_group",
        "name": "Control",
        "tab": "69cc7bdf.e7e0e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22dc9fee.af14c",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "69cc7bdf.e7e0e4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a7e6f3f0.afc3c",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "69cc7bdf.e7e0e4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "66bbc32d.7aec1c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "69cc7bdf.e7e0e4",
        "type": "ui_tab",
        "name": "DHT Sensor and Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
